.container {
    text-align: center;
    padding-bottom: 0px; /* Adjust as needed */
}

.copyright {
    font-size: 16px;
    margin-bottom: 100px; /* Adjust as needed */
}

.inspiredBy {
    font-size: 12px;
    color: var(--footer-text-color);
}